td.noStripe {
    background-color: #ffffff;
}

.occurrenceTable {
    table-layout: fixed;
}

/**
 * Because the dwcLabel class is not in template, nor added in JQuery hacks.
 */
.occurrenceTable td.dwcLabel {
    width: 33%;
    vertical-align: top;
}

.occurrenceTable td {
    word-wrap: break-word;
}

.recordHeader__right {
    float: right;
}

.recordHeader__left, .recordHeader__center {
    float: left;
}

.record-navigation {
    text-align: right;
}

.record-navigation__link:hover {
    text-decoration: none;
}

#occurrenceMap {
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
