#charts .chart-legend {
    position: absolute;
    top: 1rem;
    right: 0;

    width: 250px;
    max-height: none;

    overflow-y: auto;
    font-size: 12px;
}

.chart {
    display: block;
    position: relative;

    width: 100%;
    max-width: 1200px;

    margin-bottom: 1rem;
    padding-right: 250px;
}

/* 1200 is Bootstrap's large screen breakpoint. */
@media (max-width: 1200px) {
    .chart {
        width: 100%;
    }
}
