/* Occurrence search results table container */
.search-results {
    margin: 0 -.5rem;
    overflow: hidden;
}

.search-results--overflowing {
    overflow-x: auto;
}

.search-results-control {
    height: 100%;
    top: 0;
    position: absolute;
    right: -28px;
    width: 1rem;
}

.search-results-expand-btn {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: absolute; /* In case sticky position is not supported. */
    position: -webkit-sticky;
    position: sticky;
    padding: 0 6px;
    height: 2rem;
    width: 1.25rem;
    font-size: 1.25rem;
    line-height: 0;
    top: 1.25rem;
    cursor: pointer;
}

.search-results-expand-btn:hover {
    border-color: #888;
}

.search-results-expand-btn__icon {
    color: #777;
    font-weight: bold;
}

/* Occurrence search results table */
.search-results-table {
    table-layout: auto;
    visibility: hidden;
    white-space: nowrap;
    border-collapse: separate;
}

.search-results-table--ready {
    min-width: 100%;
    visibility: visible;
}

/* If the table is manually expanded, allow wider columns. */
.search-results-table--expanded td {
    max-width: none;
}

.search-results-row:hover {
    background-color: #eee;
}

.search-results-header {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px;
    padding: 2px;
    color: #555;
}

.search-results-cell {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px;
    padding: 2px;
    max-width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-results-cell--hidden {
    display: none;
}

.search-results-cell--taxon {
    font-style: italic;
}

.search-results-cell--count {
    text-align: center;
}

.search-results-cell--date {
    border: 0;
    padding: 2px 1px;
}

.search-results-cell--multimedia {
    color: #777;
}

.search-results-container {
    position: relative;
}

/* XXX */
#tab-records {
    position: relative;
}
