/* Occurrence search results table container */
.search-results {
    clear: both;
    overflow: hidden;
    overflow-x: auto;
}

/* Occurrence search results table */
.search-results-table {
    visibility: hidden;
}

.search-results-table--ready {
    min-width: 100%;
    visibility: visible;
}

.search-results-row {}

.search-results-row:hover {
    background-color: #eee;
}

.search-results-header {
    padding: .25rem .5rem;
    color: #555;
}

.search-results-cell {
    padding: .25rem .5rem;
    white-space: nowrap;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-results-cell--hidden {
    display: none;
}

.search-results-cell__taxon {
    font-style: italic;
}

.search-results-cell__count {
    text-align: center;
}
