/* Your-Area page styles */

#cellCountsLegend {
    margin: 0;
    float: right;
    width: 100%;
    border: none;
}

#cellCountsLegend td {
    text-align: center;
    border: none;
    color: #000;
    padding: 1px 2px;
    width: 14.285%;
}

#left-col {
    width: 550px;
    font-size: 12px;
    margin-top: 10px;
}

#taxaBox {
    height: 100%; /* perhaps not needed */
    display: flex;
    flex-wrap: wrap;
}

#leftList {
    flex: 1;
    margin-bottom: 16px;
}

#leftList td:last-child {
    padding-right: 6px;
}

.subGroupRow {
    padding-left: 2em;
}

#taxaBox table {
    width: 100%;
}

#taxaBox th {
    text-align: center;
}

.taxa-table-header {
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}

#rightList {
    flex: 2;
    margin-bottom: 16px;
    padding: 0;
    background-color: transparent;
    min-width: 14rem;
}

#rightList tbody {
    background-color: #f0f0f0;
}

#rightList .speciesInfo {
    display: none;
}

#rightList .speciesIndex {
    padding: 0 6px;
}

#rightList .rightCounts {
    padding-right: 6px;
}

#rightList #right-count {
    width: 20%;
    padding-right: 6px;
}

#species-info a {
    display: inline-block;
}

.right-list-table-container {
    height: 490px; /* Same height as the adjacent map */
    overflow-x: hidden;
    overflow-y: auto !important;
}

.activeRow {
    background-color: #f0f0f0;
    font-weight: bold;
}

.activeRow2, tr#info {
    background-color: #fff;
    border-left: 1px solid #d9d9d9;
}

.hoverRow {
    cursor: pointer;
    background-color: #3dc8d3;
    color: #fff;
}

#download {
    float: right;
}

#searchHints {
    color: #555;
    font-size: .9em;
}

input#location {
    /*padding: 1px 2px;*/
}

button#download {
    /*	padding: 1px;*/
}

#markerAddress {
    font-weight: bold;
}

/* Your Localtion scrollable table from: http://www.imaputz.com/cssStuff/bigFourVersion.html */
.tableContainer {
    height: 486px;
    overflow: hidden;
    overflow: auto !important;
    background-color: transparent;
}

.fixedHeader tr {
    position: relative;
    width: 100%;
}

.fixedHeader th {
    width: 20px;
}

.fixedHeader th + th {
    width: 320px;
}

.fixedHeader th + th + th {
    width: 30px;
}

.scrollContent {
    overflow: auto;
    width: 100%
}

.scrollContent td {
    width: 20px;
}

.scrollContent td + td {
    width: 320px;
}

.scrollContent td + td + td {
    width: 30px;
}

/* TODO: DRY Used in both search and EYA */
#downloadForm .form-control {
    font-size: 12px;
    height: 30px !important;
}

#downloadForm input[type="radio"] {
    height: initial;
}
