/*
*= require leafletPlugins
*= require jquery.autocomplete
*= require searchMap
*/

#clearAll {
    margin-left: 10px;
    height: 30px;
}

.advanced-search-form {
    max-width: 800px;
    margin-left: 0;
}

.advanced-search-form__control {
    display: block;
    min-height: 30px;
    width: 100%;
}
