/*
*= require leafletPlugins
*= require jquery.autocomplete
*= require searchMap
*/

#clear-search-form {
    margin-left: 10px;
    height: 30px;
}

#facet-search-container {
    max-width: 800px;
    margin-left: 0;
}
